[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
environs = "*"
aiogram = "*"
requests = "*"
bs4 = "*"
asyncpg = "*"
aioredis = "*"
lxml = "*"

[dev-packages]
autopep8 = "*"
aioredis = "*"

[requires]
python_version = "3.10"
